name: Release DriftHound

on:
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v3
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          release-type: ruby
          package-name: DriftHound
          version-file: lib/drifthound/version.rb
